body {
    background-color: 	#ffffff;
}

.headerContainer{
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 20%;
    background-color: lightgrey;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.logoContainer{
    margin: auto;
    -webkit-flex: 1;
    flex: 1;
}

.titleContainer{
    margin: auto;
    -webkit-flex: 2;
    flex: 5;
    border-left: 20px;
}

.socialContainer{
    margin: auto;
    -webkit-flex: 2;
    flex: 5;
    text-align: right;
}

.logo{
    max-width:100%;
}

.title{
    margin: 10px;
}

.social{
    display: block;
    margin: 10px;
}

.mainContainer{
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 80%;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.sidebar{
    margin-right: auto;
    -webkit-flex: 1;
    flex: 1;
    background-color: lightgrey;
}

.main{
    margin-right: auto;
    -webkit-flex: 4;
    flex: 4;
}

.content{
    margin: 10px;
}

.sidebarButton{
    background-color: #696969;
    border: none;
    color: white;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 2px 2px 2px 2px;
    cursor: pointer;
}

.sidebarButton:hover{
    background-color: #424040;
}

.LogButton{
    background-color: #696969;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 2px 2px 2px 2px;
    cursor: pointer;
}

.LogButton:hover{
    background-color: #424040;
}

/*.redirectList{
    list-style-type:none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.listItem{
    display: -webkit-flex;
    display: flex;
    border: 1px solid #696969;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-bottom: 2px;
    height: 5%;
}

.listItem div{
    margin: auto;
    width: 100%;
    height: 100%;

}

.firstListItem{
    background-color: darkgray;
}

.restListItems{
    box-shadow: 2px 2px 1px grey;
}

.restListItems a{
    height: 100%;
    width: 100%;
    margin: 0px; 
    display: block;
}*/