.toggleButton{
    background-color: #696969;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 2px 2px 2px 2px;
    cursor: pointer;
}

.toggleButton:hover{
    background-color: #424040;
}

.inlineButton{
    background-color: #696969;
    display: inline-block;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 2px 2px 2px 2px;
    cursor: pointer;
}

.inlineButton:hover{
    background-color: #424040;
}