{% extends "base.html" %}

{% block extra_head_block %}
<title>Ballot Box</title>        
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/ballotBox.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script class="import" src="{% static 'js/jsbn.js' %}"></script>
<script class="import" src="{% static 'js/jsbn2.js' %}"></script>
<script class="import" src="{% static 'js/sjcl-1.0.6/sjcl.js' %}"></script>
<script src="{% static 'js/vkthread/vkthread.min.js' %}"></script>
<script class="import" src="{% static 'js/ElGamal.js' %}"></script>
<script class="import" src="{% static 'js/Schnorr.js' %}"></script>
<script src="{% static 'js/auditBallot.js' %}"></script>
<script>
    var cryptoParameters = {{election.cryptoParameters|safe}};
    var questionList = JSON.parse("{{questions|escapejs}}");
    var pk = "{{election.publicKey|escapejs}}";
    var token = '{{ csrf_token }}';
    var proofRandoms = {{randoms|safe}};
</script>
{% endblock %}

{% block content %}
<h2>{{election.name}}</h2>

<form id="auditForm" action="javascript:audit()">
    <fieldset>
        <legend><h2>Ballot</h2></legend>
        <b>Paste yout ballot here:</b><br>
        <textarea name="ballot" rows="20" style="width:100%" autocomplete="off" required></textarea><br>
        <input type="submit" class="submitButton" value="Audit">
    </fieldset>
</form>

<div class="results"></div>
{% endblock %}