<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style/base.css' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block extra_head_block %}
        {% endblock %}
    </head>
    <body>
        <div class="headerContainer">
            <div class='LogoContainer'>
                <img class="logo" src="{% static 'images/logo.png' %}" alt="logo.png"/>
            </div>
            <div class="titleContainer">
                <h1 class="title">E-Voting on Fenix</h1>
            </div>
            <div class="socialContainer">
                {%if user.name %}
                    <span class="social">
                    <p>Welcome {{user.name}} <a href="{% url 'logout' %}">Logout</a></p>
                    </span>
                {% else %}
                    <span class="social">
                    <a href="{% url 'social:begin' 'fenix' %}">Login</a><br>
                    </span>
                {% endif %}
            </div>
        </div>
        <div class="mainContainer">
            <div class="sidebar">
                <ul>
                    <li class="listTitle"><strong>Elections</strong><hr></li>
                    <li class="listItem"><a href="{% url 'home' %}">Main</a></li>
                    <li class="listItem"><a>Sort</a></li>
                    <li class="listTitle"><strong>Admin</strong><hr></li>
                </ul>
            </div>

            <div class="main">
                <div class="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>