<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style/base.css' %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block extra_head_block %}
        {% endblock %}
    </head>
    <body>
        <div class="headerContainer">
            <div class='LogoContainer'>
                <img class="logo" src="{% static 'images/logo.png' %}" alt="logo.png"/>
            </div>
            <div class="titleContainer">
                <h1 class="title">E-Voting on Fenix</h1>
            </div>
            <div class="socialContainer">
                {%if user.name %}
                    <span class="social">
                    <p>Welcome {{user.name}}</p>
                    <a class="LogButton" href="{% url 'logout' %}">Logout</a>
                    </span>
                {% else %}
                    <span class="social">
                    <a class="LogButton" href="{% url 'social:begin' 'fenix' %}">Login</a><br>
                    </span>
                {% endif %}
            </div>
        </div>
        <div class="mainContainer">
            <div class="sidebar">
                <a class="sidebarButton" id="home" href="{% url 'home' %}">Home</a>
                <a class="sidebarButton" id="create" href="{% url 'createElection' %}">Create Election</a>
                <!--<ul class="redirectList">
                    <li class="firstListItem listItem"><div>Menu</div></li>
                    <li class="restListItems listItem" ><div><a href="{% url 'home' %}">Main</a></div></li>
                </ul>-->
            </div>

            <div class="main">
                <div class="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>