{% extends "base.html" %}

{% block extra_head_block %}
<title>Create Election</title>        
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/createElection.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'style/jquery.ui.timepicker.css' %}" />
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="{% static 'js/jquery.ui.timepicker.js' %}"></script>
<script src="{% static 'js/createElection.js' %}"></script>
{% endblock %}

{% block content %}
<form id="createElectionForm" action="javascript:submit('{{ csrf_token }}')">
    <fieldset>
        <legend><h2>Create Election</h2></legend>
        <b>Name:</b><br>
        <input type="text" name="name" style="width:50%" autocomplete="off" required><br>
        <b>Description:</b><br>
        <textarea name="description" rows="3" style="width:50%" autocomplete="off" required></textarea><br>
        <b>Start Date:</b><br>
        <input name="startDate" class="datePicker" placeholder="yyyy-mm-dd" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" autocomplete="off" size="10" required>&nbsp;<input name="startTime" type="text" class="timePicker" placeholder="hh:mm" pattern="[0-9]{2}:[0-9]{2}" autocomplete="off" size="5" required><br>
        <b>End Date:</b><br>
        <input name="endDate" class="datePicker" placeholder="yyyy-mm-dd" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" autocomplete="off" size="10" required>&nbsp;<input name="endTime" class="timePicker" placeholder="hh:mm" pattern="[0-9]{2}:[0-9]{2}" autocomplete="off" size="5" required><br>
        <b>Define cast times:</b><br>
        <input type="radio" name="castTimeRadioButton" onclick="enableCastTimes()" value="true" checked>Yes
        <input type="radio" name="castTimeRadioButton" onclick="disableCastTimes()" value="false">No <br>
        <div class="castTime">
            <b>Start Cast Time:</b><br>
            <input name="startCastTimes" id="test" class="timePicker" placeholder="hh:mm" pattern="[0-9]{2}:[0-9]{2}" autocomplete="off" size="5" required><br>
            <b>End Cast Time:</b><br>
            <input name="endCastTimes" class="timePicker" placeholder="hh:mm" pattern="[0-9]{2}:[0-9]{2}" autocomplete="off" size="5" required><br><br>
        </div>
        <input type="submit" class="submitButton"><div class="loader"></div>
    </fieldset>
</form>
{% endblock %}