{% extends "base.html" %}

{% block extra_head_block %}
<title>Create Election</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/create.css' %}" />
{% endblock %}

{% block header_content %}
{% endblock %}

{% block content %}
    <form action="{% url 'create' %}" method="post">
        <table>
        {% csrf_token %}
        {% for field in form %}
            <tr>
                <td>
                    {{field.label_tag}}
                </td>
                <td>
                    {{field}}
                </td>
            </tr>
        {% endfor %}
        </table>
        <input type="submit" value="Submit" />
    </form>
{% endblock %}