{% extends "base.html" %}

{% block extra_head_block %}
<title>Home</title>        
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/home.css' %}" />
{% endblock %}

{% block content %}
<p><b>Welcome</b> to the e-voting website for IST. This site is currently a prototype.</p>
<p>To login you only need to use your Fenix credentials.</p>
{% if admin %}
<p>You can create a election using the following button:</p>
<a class="Button" href="{% url 'createElection' %}">Create Election</a>
{% endif %}
{% endblock %}