{% extends "base.html" %}

{% block extra_head_block %}
<title>Manage Tally</title>        
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/manageTally.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'js/vkthread/vkthread.min.js' %}"></script>
<script class="import" src="{% static 'js/jsbn.js' %}"></script>
<script class="import" src="{% static 'js/jsbn2.js' %}"></script>
<script src="{% static 'js/manageTally.js' %}"></script>
<script>
    var questionList = JSON.parse("{{questions|escapejs}}");
    var token = '{{ csrf_token }}'
    var currentUrl = "{% url 'manageTally' election_id=election.id %}"
    {% if election.hybrid and not election.aggregatedEncTally and not election.paperResults%}
    var paperResultsUrl = "{% url 'submitPaperResults' election_id=election.id %}"
    {% elif not election.hybrid and not election.aggregatedEncTally or election.hybrid and not election.aggregatedEncTally and election.paperResults %}
    console.log("Here")
    var ballots = JSON.parse("{{finalBallots|escapejs}}")['ballotList'];
    var pValue = "{{p}}"
    {% elif election.aggregatedEncTally and partialDecryptions %}
    var pValue = "{{p}}"
    var gValue = "{{g}}"
    var aggregatedEncTally = JSON.parse("{{election.aggregatedEncTally|escapejs}}".replace(/'/g,'"'));
    var partialDecryptions = JSON.parse("{{partialDecryptions|escapejs}}")["partialDecryptionList"];
    var numberOfEBallots = {{numberOfEBallots}}
    {% if election.hybrid %}
    var paperResults = JSON.parse("{{election.paperResults|escapejs}}".replace(/'/g,'"'));
    {% else %}
    var paperResults = null;
    {% endif %}
    {% endif %}
</script>
{% endblock %}

{% block content %}
<h2>{{election.name}}</h2>
<div class="manageTallyContent">
{% if election.hybrid and not election.aggregatedEncTally and not election.paperResults %}
    <form id="addPaperVoterForm" action="javascript:paperVotersSubmit('{{ csrf_token }}','{% url 'manageTally' election_id=election.id %}','{% url 'addPaperVoters' election_id=election.id %}')">
        <fieldset>
            <legend><h2>Add Voters CSV File</h2></legend>
            <input type="file" name="csv" accept=".csv" required>
            <input class="button" id="submitPaperVoterButton" type="submit"><div class="loader"></div>
        </fieldset>
    </form>

    <div><a class="button" id="addPaperResults" href="javascript:addPaperResuls()">Next</a></div>
    <br><br>
    <div>
        <a class="button" id="toogleButton" href="javascript:togglePaperVoterList()">Hide Paper Voters List</a><br><br>
        <div class="VoterList">
            {% if paperVoters %}
            <table>
                <tr>
                    <th></th>
                    <th>Id</th>
                </tr>
                {% for voter in paperVoters%}
                <tr>
                    <td>[<a href="javascript:removePaperVoter('{{ csrf_token }}','{% url 'manageTally' election_id=election.id %}','{% url 'removePaperVoters' election_id=election.id %}','{{voter|escapejs}}')">X</a>]</td>
                    <td>{{voter}}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>
{% elif not election.hybrid and not election.aggregatedEncTally or election.hybrid and not election.aggregatedEncTally and election.paperResults%}
    <a class="button" href="javascript:aggregateEncTally('{{ csrf_token }}','{% url 'manageTally' election_id=election.id %}','{% url 'submitEncryptedTally' election_id=election.id %}')">Aggregate encrypted Tally</a>
    <div class="loader"></div>
{% elif election.aggregatedEncTally and not election.tally and not ready %}
    <p>Please wait until all trustees have made their partial decryptions.</p>
    <table style="text-align:center;">
        <tr>
            <th>
                Id
            </th>
            <th>
                Partial Decryption Done
            </th>
        </tr>
        {% for trustee in trustees %}
            {% if trustee.publicKeyShare %}
            <tr>
                <td>
                    {{trustee.identifier}}
                </td>
                {% if trustee.partialDecryption %}
                <td style="color:green;"><b>YES</b></td>
                {% else %}
                <td style="color:red;"><b>NO</b></td>
                {% endif%}
            </tr>
            {% endif %}
        {% endfor %}
    </table>
{% elif election.aggregatedEncTally and not election.tally and ready %}
    <a class="button" href="javascript:publishResults('{{ csrf_token }}','{% url 'manageTally' election_id=election.id %}','{% url 'publishResults' election_id=election.id %}')">Aggreate and Publish Results</a>
    <div class="loader"></div>
{% elif election.tally %}
    <p>Election result have been published!</p>
{% endif %}
</div>
{% endblock %}