{% extends "base.html" %}

{% block extra_head_block %}
<title>Manage Questions</title>        
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/manageQuestions.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'js/manageQuestions.js' %}"></script>
{% endblock %}

{% block content %}
<h2>{% autoescape on %}{{election.name}}{% endautoescape %}</h2>

<form id="addQuestionForm" action="javascript:submit('{{ csrf_token }}','{% url 'manageQuestions' election_id=election.id %}','{% url 'addQuestions' election_id=election.id %}')">
    <fieldset>
        <legend><h2>Add Question</h2></legend>
        <table class="inputTable">
            <tr>
                <td>
                    <b>Question:</b>
                </td>
                <td>
                    <input type="text" name="question" required>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Answer #1:</b>
                </td>
                <td>
                    <input type="text" name="answer_1" required>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Answer #2:</b>
                </td>
                <td>
                    <input type="text" name="answer_2" required>
                </td>
            </tr>
        </table>
        <input class="inlineButton" type="submit" value="Submit">
        <a class="inlineButton" href="javascript:addMoreAnswers()">Add Answer</a>
        <a class="inlineButton removeAnswersButton" href="javascript:removeAnswers()">Remove Answer</a>
    </fieldset>
</form>

<a class="toggleButton" href="javascript:toggleQuestionList()">Hide Question List</a>
<div class="QuestionList">
    <dl>
        {% for question in election.question_set.all %}
        <dt>[<a href="javascript:removeQuestion('{{ csrf_token }}','{% url 'manageQuestions' election_id=election.id %}','{% url 'removeQuestions' election_id=election.id %}','{{question.id}}')">X</a>]{% autoescape on %}{{question.question}}{% endautoescape %}</dt>
            {% for answer in question.answer_set.all %}
            <dd>{% autoescape on %}{{answer.answer}}{% endautoescape %}</dd>
            {% endfor %}
        {% endfor %}
    </dl>
</div>

{% endblock%}