{% extends "base.html" %}

{% block extra_head_block %}
<title>Manage Voters</title>        
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/manageVoters.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'js/manageVoters.js' %}"></script>
{% endblock %}

{% block content %}
<h2>{{election.name}}</h2>

<form id="addVoterForm" action="javascript:submit('{{ csrf_token }}','{% url 'manageVoters' election_id=election.id %}','{% url 'addVoters' election_id=election.id %}')" autocomplete="off">
    <fieldset>
        <legend><h2>Add Voter</h2></legend>
        <b>Identifier:</b><br>
        <input type="text" name="identifier" style="width:50%" required><br>
        <b>Email:</b><br>
        <input type="email" name="email" style="width:50%" required><br><br>
        <input class="button" id="addVoterButton" type="submit"><div class="loader"></div>
    </fieldset>
</form>

<form id="addVoterFileForm" action="javascript:fileSubmit('{{ csrf_token }}','{% url 'manageVoters' election_id=election.id %}','{% url 'addVoters' election_id=election.id %}')">
    <fieldset>
        <legend><h2>Add Voters CSV File</h2></legend>
        <input type="file" name="csv" accept=".csv" required>
        <input class="button" id="addVoterFileButton" type="submit"><div class="loader"></div>
    </fieldset>
</form>

<a class="button" id="toggleButton" href="javascript:toggleVoterList()">Hide Voters List</a><br><br>
<div class="VoterList">
    {% if election.voter_set.all %}
    <table>
        <tr>
            <th></th>
            <th>Id</th>
            <th>Email</th>
        </tr>
        {% for voter in election.voter_set.all %}
        <tr>
            <td>[<a href="javascript:removeVoter('{{ csrf_token }}','{% url 'manageVoters' election_id=election.id %}','{% url 'removeVoters' election_id=election.id %}','{{voter.identifier|escapejs}}')">X</a>]</td>
            <td>{{voter.identifier}}</td>
            <td>{{voter.email}}</td>
        </tr>
        {% endfor%}
    </table>
    {% endif %}
</div>

{% endblock%}