{% extends "base.html" %}

{% block extra_head_block %}
<title>Manage</title>        
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/manageList.css' %}" />
{% endblock %}

{% block header_content %}
{% endblock %}

{% block content %}
    {% for election in elections %}
        <a href="{% url 'manage' election_id=election.uuid %}">
            <div class='ElectionBox'>
                <table>
                    <tr>
                        <td>
                            <strong>Name:</strong>
                        </td>
                        <td>
                            {{election.name}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Description:</strong>
                        </td>
                        <td>
                            {{election.description}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Election Date:</strong>
                        </td>
                        <td>
                            {{election.start}} - {{election.end}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Booth Times:</strong>
                        </td>
                        <td>
                            {{election.timeOpenBooth}} - {{election.timeCloseBooth}}
                        </td>
                    </tr>
                </table>
            </div>
        </a>
    {% empty %}
        <p>There are currently no elections where you are administrator.</p>
    {% endfor %}
{% endblock %}